[production]
mvc.exceptions      =   "0"
modules.default     =   "/app/modules/default/controllers"

[staging : production]
debug               =   "1"
mvc.exceptions      =   "1"
js.minify           =   "0"
css.minify          =   "0"
sitename            =   "Gonzalo Ayuso | Web Architect | Personal Home Page"
mymail              =   "gonzalo123@gmail.com"
dojoStyle           =   "tundra"
amazonkey           =   ""
googlemapskey       =   ""
db                  =   "Pdo_Sqlite"
sqlite.dbHost       =   "/db/gam.sqlite"
lucene.path         =   "/db/lucene"
owner               =   "gonzalo"
document_root       =   ""

myblog.atom         =   "http://gonzaloayuso.blogspot.com/feeds/posts/default"